.contenedor{
    display: grid;
    font-size: 30px;
     width: 100%;
     font: bold;
}
.contenedor_lado_contenedor_{
    display: flex;
     gap: 10px;
     height: 100px;
 }
 .contenedor_ecuacion, .resultadocasilla,.valores{
    display: flex;
 }

 .sad{
    display: flex;
 }
 .antes_integral_,.despues_integral_,.igual{
     align-content: center;
 }
 .integral_{
     background-image:url(../recursos/imagenes/simIntegral.png);
 background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    align-content: space-between;
    
 }
 .parte_arriba_integral_{
     margin-left: 35px;
     margin-top: 0px;
     font-size: 20px;
 }
 body{
     height: 100dvh;
     margin: 0px;
     
     
 }
 .parte_abajo_integral_{
     margin-left: 16px;
     margin-top: 60px;
     font-size: 20px;
 
 }
 #ver_calculadora_mrua{
    text-decoration: none;
    background-color: rgb(108, 94, 238);
    color: white;

}
#ver_calculadora_mrua:hover{
    background-color: rgb(74, 56, 236);
}#espacio{
    display: flex;
    align-content: center;
    
}
#espacio > input{
    margin-top: 10px;
    height: 20px;
    margin-right: 20px;
}
header{
    background-color: rgb(108, 94, 238);
    color: white;
}
